body {
    background-image: url(imagens/background_img.jpg);
    background-size: 100%;
    margin: 0%;
}

.main-title {
    position: fixed;
    background-color: rgb(243, 237, 237);
    width: 100%;
}

#titulo {
    margin: 0;
    background-image: url(imagens/twitter_logo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 50px;
}

.container{
    margin: 25px;
    width: 100%;
    display: flex;    
    flex-direction: column;
    
}

.tweet-form {
    font-family:'Coiny', cursive;
    font-size: 20px;
    padding-left: 60px;
    font-size: 150%;
    color: white;
}

.form-title{
    margin-bottom: 16px;
    
}

#tweet-button {
    border: none;
    color:white;
    background-color: #1da1f2;
    height:75%;
    width: 20%;
    border-radius:100px;
    font-weight: 800;
    font-size: 15px;
    padding: 8px;
    display: inline-block;
    vertical-align: center;
}

#twitter-counter {
    line-height: 31px;
    margin-top: 4px;
    vertical-align: center;
    display: inline-block;
}

.profile-img {
    /* background-image: url("Imagens/profile.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height:270px;
    width:80%;
} 

.profile-img img {
    height:115%;
    width: auto;
}

.tweet {
    background-color: #ffffff;
    height:auto;
    width:100%;
    margin: 20px;
}

#twitter-list li {
    list-style:none;
}

.initial-color {
    color:rgb(246, 246, 250);
}

.warning-color {
    color:orange;
}

.danger-color {
    color: red;
}

.content {
    display: flex;
    padding: 100px;
}

#twitter-text{
    width: 60ch;
    min-height: 50px;
    font-size: 70%;
    resize: vertical;
}