body {
    background-image: url(/imagens/background_img.jpg);
    background-size: 100%;
    margin: 0%;
}

.main-title {
    position: fixed;
    background-color: rgb(243, 237, 237);
    width: 100%;
}


.navegation {
    background-color: rgb(243, 237, 237);
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.navegation img {
    width: auto;
    height: 80%;
    margin-left: 50px;
}

.navegation li {
    margin-right: 50px; 
    list-style-type: none;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

.container{
    width: 85%;
}

.tweet-form {
    font-family:'Coiny', cursive;
    font-size: 20px;
    color: white;
}

.form-title{
    margin-bottom: 16px;
}

#tweet-button {
    border: none;
    color:white;
    background-color: #1da1f2;
    height:75%;
    width: 20%;
    border-radius:100px;
    font-weight: 800;
    font-size: 15px;
    padding: 8px;
    display: inline-block;
    vertical-align: center;
}

#twitter-counter {
    line-height: 31px;
    margin-top: 4px;
    vertical-align: center;
    display: inline-block;
}

.tweet {
    background-color: #ffffff;
    height:auto;
    width:100%;
    margin: 20px 0;
    padding: 5px;
}

#twitter-list {
    padding: 0;
}

#twitter-list li {
    list-style:none;
}

.initial-color {
    color:rgb(246, 246, 250);
}

.warning-color {
    color:orange;
}

.danger-color {
    color: red;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    width: 140%;

}

#twitter-text{
    width: 100%;
    min-height: 50px;
    resize: vertical;
    border:0;
}

.color-blue{
    color:rgb(170, 205, 219);
}

.color-blue-baby{
    background-color: rgb(170, 205, 219);    
}

.navbar-blue{
    background-color: rgb(170, 205, 219);
    margin-bottom:1rem;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgb(176, 201, 230);
}

aside li:hover {
    background-color:rgb(176, 201, 230);
}

@media screen and (min-width: 760px) {
    .main-title {
        position: fixed;
        background-color: rgb(243, 237, 237);
        width: 100%;
    }
    
    .navegation {
        background-color: rgb(243, 237, 237);
        height: 10%;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
    }
    .navegation img {
        width: auto;
        height: 80%;
        margin-left: 50%;
    }
    
    .navegation li {
        margin-right: 50px; 
        list-style-type: none;
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
    }
    
    .container{
        width: 100%;
        display: flex;    
        flex-direction: column;
        
    }
    
    .tweet-form {
        font-family:'Coiny', cursive;
        font-size: 20px;
        color: white;
        margin-left: 100px;
    }
    
    .form-title{
        margin-bottom: 16px;
        
    }
    
    #tweet-button {
        border: none;
        color:white;
        background-color: #1da1f2;
        height:75%;
        width: 20%;
        border-radius:100px;
        font-weight: 800;
        font-size: 15px;
        padding: 8px;
        display: inline-block;
        vertical-align: center;
    }
    
    #twitter-counter {
        line-height: 31px;
        margin-top: 4px;
        vertical-align: center;
        display: inline-block;
    }
    
    .tweet {
        background-color: #ffffff;
        height:auto;
        width:100%;
        margin: 20px 0;
    }
    
    #twitter-list {
        margin-left: 100px;
    }
    
    #twitter-list li {
        list-style:none;
    }
    
    .initial-color {
        color:rgb(246, 246, 250);
    }
    
    .warning-color {
        color:orange;
    }
    
    .danger-color {
        color: red;
    }
    
    .content {
        display: flex;
        padding: 100px;
        flex-direction: row;
        align-items: flex-start;
        top: 20%;
        width: 85%;
    }
    
    #twitter-text{
        width: 100%;
        min-height: 50px;
        resize: vertical;
        padding: 10px;
    }
    
    .color-blue{
        color:rgb(170, 205, 219);
    }
    
    .color-blue-baby{
        background-color: rgb(170, 205, 219);    
    }
    
    .navbar-blue{
        background-color: rgb(170, 205, 219);
        margin-bottom:1rem;
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        background-color: rgb(176, 201, 230);
    }
    
    aside li:hover {
        background-color:rgb(176, 201, 230);
    }
}
